# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Virtual environments
env/
venv/
ENV/
.env
.venv

# Django stuff
*.sqlite3
db.sqlite3-journal
local_settings.py
*.log
media/
staticfiles/

# VS Code
.vscode/

# Pytest / Coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec
MANIFEST

# PyInstaller
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints/

# Mypy / Pyre / Pytype
.mypy_cache/
.pyre/
.pytype/

# Cython debug
cython_debug/

# Other IDEs (optional)
.idea/
.spyderproject/
.ropeproject/

# Cursor / AI tools
.cursorignore
.cursorindexingignore
